#tensorflow==2.18.0 2.13.0  # for local project run and virtual environment setup
tensorflow== 2.13.0  # for production project run and virtual environment setup using docker image
pandas
gdown
dvc
mlflow
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
dagshub
-e .