tensorflow== 2.18.0  # It requires the python image that has version >= 3.9 eg. python:3.10-slim-buster
pandas
gdown
dvc
mlflow
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
dagshub
-e .